<section class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="col-12 pt-5">

        <h3 class="text-center pt-5">Formularz kontaktowy</h3>

       </div>
     </div>

  <%= simple_form_for @message do |f| %>
    <%= f.input :name, label: 'Podaj imię:', as: :wysihtml5 %>
    <%= f.input :email, label: 'Wprowadź email:', as: :wysihtml5 %>
    <%= f.input :body, label: 'Wpisz wiadomość:', as: :wysihtml5 %> 
    <%= f.submit "Wyślij", class: 'btn btn-success' %>
  <% end %>

 
</section>