<section class="container pt-5">
    <div class="row pt-5">
        <div class="col-12">

        <h3 class="text-center">Zostaw wiadomość</h3>

       </div>
     </div>

      <%= form_with(model: @message, local: true, html: {multipart: true}) do |f| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@message.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field p-3 text-center">
          <h2 class="alert alert-success"><%= f.label :Imię %></h2>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="field p-3 text-center">
          <h2 class="alert alert-success"><%= f.label :Email %></h2>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="field p-3 text-center">
          <h2 class="alert alert-success"><%= f.label :Wiadomość %></h2>
          <%= f.text_area :body, class: "form-control", style: "height:200px;" %>
        </div>

        <div class="row mt-1 pb-5 text-center">
          <div class="col-md-12 pb-5">
          <%= f.submit "Wyślij", class: "btn btn-lg btn-secondary"%>
          </div>
        </div>
      <% end %>
</section>