<section class="container-fluid pt-5 mx-auto">
    <div class="row pt-5">
        <div class="col-12 pt-5">

        <h3 class="text-center pt-5">Formularz kontaktowy</h3>

       </div>
     </div>

  <%= simple_form_for @message do |f| %>
    <%= f.input :name, label: 'Podaj imię:' %> 
    <%= f.input :email, input_html: { autocomplete: 'email' } %>
    <%= f.input :body, label: 'Wpisz wiadomość:' %> 
    <%= f.submit "Wyślij", class: 'btn btn-success' %>
  <% end %>

 
</section>