<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding-right: 3.5rem;">

      <div class="navbar-brand" href="#" style="width:8rem;" >
        <%=link_to (image_tag 'cross.jpg', style:"width:100%;"), root_path %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Strona Główna', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Aktualności', practice_list_practices_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'O nas', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Kontakt', root_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item2">
            <%= link_to 'Crossfit', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item2">
            <%= link_to 'Jak zacząć?', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item2">
            <%= link_to 'Bestfit', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item2">
            <%= link_to 'Herbalife24', root_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>