<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding-right: 3.5rem;">

      <div class="navbar-brand" href="#" style="width:12rem;" >
        <%=link_to (image_tag 'cross_sport.jpg', style:"width:100%;"), root_path %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Aktualności', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Wiadomości', practice_list_practices_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'O nas', about_index_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Team', players_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Kontakt', root_path, class: 'nav-link' %>
          </li>

              <% if current_user && current_user.admin? %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>

            <% elsif current_user %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
            
            <% else %>

          <li class="nav-item">
            <%= link_to 'Zaloguj', new_user_session_path, class: 'nav-link'%>
          </li>
<!-- 
          <li class="nav-item">
              <%= link_to 'Utwórz konto', new_user_registration_path, class: 'nav-link'%>
          </li> -->

          <% end %>
          
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item2">
            <%= link_to 'Crossfit', "https://www.crossfit.com/",  target: :_blank, class: 'nav-link' %>
          </li>
          <li class="nav-item2">
            <%= link_to 'Youtube', "https://www.youtube.com/user/michalbiey", target: :_blank, class: 'nav-link' %>
          </li>
          <li class="nav-item2">
            <%= link_to 'Bestfit', "http://bestfitclub.pl",  target: :_blank, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>