<%= render 'shared/slideshow' %>

<section class="container">
  <div class="row">
      <div class="col-12">
       
        <p id="notice"><%= notice %></p>

        <h2 class="text-center"><span class="badge badge-dark">Aktualności</span></h2>
      </div>
  </div>

        <div class="row">
            <% @practices.each do |practice| %>
              <div class="col-md-12 col-lg-4 col-xl-4">
                <div class="card"> 
                        <div class="card-topper">
                            <% if practice.image.present? %>
                            <%= image_tag practice.image.url, style: "width:100%; height:300px;object-fit:cover;" %>
                            <% else %>
                            No image
                            <% end %>
                        </div>
                        <div class="card-block text-center">
                             <h4 class="card-title text-center text-capitalize">
                                <%= practice.boxtitle %>
                             </h4>

                            <% if current_user && current_user&.admin? %>

                              <%= link_to 'Pokaż', practice, class: 'btn btn-sm btn-primary' %>
                              <%= link_to 'Edytuj', edit_practice_path(practice), class: 'btn btn-sm btn-info' %>
                              <%= link_to 'Usuń', practice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>

                            <% else %>

                              <%= link_to 'Pokaż', practice, class: 'btn btn-md btn-primary' %>

                            <% end %>

                        </div>
                </div>
              </div>
            <% end %>
        </div>
  
        <div class="practice-bottom">

          <%= link_to 'Więcej', practice_list_practices_path, class: 'btn btn-primary' %>

          <% if current_user && current_user&.admin? %>

          <%= link_to 'Nowy wpis', new_practice_path, class: 'btn btn-info'  %>

          <% end %>

        </div>

</section>