<section class="container">
  <div class="row">
      <div class="col-md-12">

<p id="notice"><%= notice %></p>

<h1>Practices</h1>
<h2>Practices</h2>
      </div>
    </div>

<div class="row">
    <% @practices.each do |practice| %>
      <div class="col-md-4">
        <div class="card"> 
          <div class="card-topper">
          <% if practice.picone.present? %>
          <%= image_tag practice.picone.url(:thumb), style: "width:100%" %>
          <% else %>
          No image
          <% end %>
          </div>
  <div class="card-block">
       <h4 class="card-title">
          <%= practice.boxtitle %>
       </h4>
        <%= link_to 'LEARN MORE', practice %>
        <%= link_to 'Edit', edit_practice_path(practice) %>
        <%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
      </div>
      </div>
    <% end %>
</div>
  

<br>

<%= link_to 'New Practice', new_practice_path %>
</section>