<%= render 'shared/slideshow' %>

<section class="container">
  <div class="row">
      <div class="col-12">
       
        <p id="notice"><%= notice %></p>

        <h2>Aktualności</h2>
      </div>
  </div>

        <div class="row">
            <% @practices.each do |practice| %>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card"> 
                        <div class="card-topper">
                            <% if practice.picone.present? %>
                            <%= image_tag practice.picone.url(:thumb), style: "width:100%" %>
                            <% else %>
                            No image
                            <% end %>
                        </div>
                        <div class="card-block text-center">
                             <h4 class="card-title">
                                <%= practice.boxtitle %>
                             </h4>
                              <%= link_to 'Pokaż', practice, class: 'btn btn-sm btn-primary' %>
                              <%= link_to 'Edytuj', edit_practice_path(practice), class: 'btn btn-sm btn-info' %>
                              <%= link_to 'Usuń', practice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                        </div>
                </div>
              </div>
            <% end %>
        </div>
  
        <div class="practice-bottom">

          <%= link_to 'Więcej', practice_list_practices_path, class: 'btn btn-primary' %>
          <%= link_to 'Nowy wpis', new_practice_path, class: 'btn btn-info'  %>

        </div>

</section>