<section class="container">
	<div class="row", style="padding-top: 60px;">
		
		<div class="col-md-6"><h2><u>Wiadomości</u></h2></div>
		<div class="col-md-6">
			<div class="form-inline mt-2 mt-md-0 floatr">
	<%= form_tag search_practices_path, method: :get do %>
	<%= text_field_tag :search, nil, placeholder: "Czego szukasz?", class:"form-control mr-sm-2" %>
	<%= submit_tag "Wyszukaj", class:"btn btn-light" %>
	<% end %>
			</div>
		</div>
		<div class="col-md-6">
			<% if @practices.count < 6 %>
			Przepraszam, to jest ostatnia wiadomości 
			<!-- Sorry, this is the last practices. -->
			Jesteś na <%= @page + 1%> z <%= @num_pages.to_i%> wiadomości.<br>
			<% else %>
			Na stronie znajduje się <%= @allpractices %> wiadomości<br>
			Jesteś na <%= (@page + 1)%> z <%= @num_pages.to_i%> podstron.<br>
			<% end %>
		</div>
			<div class="col-md-6">
		<% if @practices.count >= 6 %>
			<%= link_to 'Next', practice_list_practices_path(:page => @next_page), class: "btn-sm btn-info floatr", style: "margin: 2px;" %>
		<% end %>
			<% if @page > 0 %>

			<%= link_to 'Previous', practice_list_practices_path(:page => @prev_page), class: "btn-sm btn-info floatr", style: "margin: 2px;" %>
			<% end %>
			
		</div>
	</div>
	<div class="row", style="padding-top: 30px;">

	    <% @practices.each do |practice| %>
	       <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding: 0.5rem;">
	        <div class="card"> 
	          <div class="card-topper">
	          <% if practice.picone.present? %>
	          <%= image_tag practice.picone.url(:thumb), style: "width:100%" %>
	          <% else %>
	          No image
	          <% end %>
	          </div>
			  <div class="card-block">
			       <h4 class="card-title">
			          <%= practice.boxtitle %>
			       </h4>
			        <%= link_to 'More', practice %>
			        <%= link_to 'Edit', edit_practice_path(practice) %>
			        <%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %>
			  </div>
	      </div>
    </div>
    <% end %>
</div>
</section>