<section class="container">
	<div class="row", style="padding-top: 60px;">
		
		<div class="col-md-6"><h2><u>All Practices</u></h2></div>
		<div class="col-md-6">
			<div class="form-inline mt-2 mt-md-0 floatr">
	<%= form_tag search_practices_path, method: :get do %>
	<%= text_field_tag :search, nil, placeholder: "Search Practice", class:"form-control mr-sm-2" %>
	<%= submit_tag "Search", class:"btn btn-light" %>
	<% end %>
			</div>
		</div>
		<div class="col-md-12">
		<% if @practices.count >= 8 %>
			<%= link_to 'Next', practice_list_practices_path(:page => @next_page), class: "btn-sm btn-info floatr", style: "margin: 2px;" %>
		<% end %>
			<% if @page > 0 %>

			<%= link_to 'Previous', practice_list_practices_path(:page => @prev_page), class: "btn-sm btn-info floatr", style: "margin: 2px;" %>
			<% end %>
			<% if @practices.count < 8 %>
			Sorry, this is the last practice
			<% end %>
		</div>
	</div>
	<div class="row", style="padding-top: 30px;">
    <% @practices.each do |practice| %>
      <div class="col-md-3">
        <div class="card"> 
          <div class="card-topper">
          <% if practice.picone.present? %>
          <%= image_tag practice.picone.url(:thumb), style: "width:100%" %>
          <% else %>
          No image
          <% end %>
          </div>
  <div class="card-block">
       <h4 class="card-title">
          <%= practice.boxtitle %>
       </h4>
        <%= link_to 'LEARN MORE', practice %>
        <%= link_to 'Edit', edit_practice_path(practice) %>
        <%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
      </div>
      </div>
    <% end %>
</div>
</section>