<section class="container-fluid pt-5 pb-5">
	<div class="row pt-5 pb-5 mt-5">
		
		<div class="col-md-6"><h2><u>Wiadomości</u></h2></div>
		<div class="col-md-6">
			<div class="form-inline mt-2 mt-md-0 floatr">
				<%= form_tag search_practices_path, method: :get do %>
				<%= text_field_tag :search, nil, placeholder: "Czego szukasz?", class:"form-control2 mr-sm-2" %>
				<div class="p-1"><%= submit_tag "Wyszukaj", class:"btn btn-light" %></div>
				<% end %>
			</div>
		</div>
		<div class="col-6">
			<% if @practices.count < 6 %>
			Przepraszam, to jest ostatnia strona <br>
			<!-- Sorry, this is the last practices. -->
<!-- 			Jesteś na <%= @page + 1%> z <%= @num_pages.to_i%> podstronie.<br> -->
			<% else %>
            Na stronie znajduje się <%= @allpractices %> wiadomości<br>
	<!-- 		<-- Jesteś na <%= (@page + 1)%> z <%= @num_pages.to_i%> podstronie.<br> --> 
			<% end %>
		</div>
			<div class="col-md-6">
		<% if @practices.count >= 6 %>
			<%= link_to 'Następny', practice_list_practices_path(:page => @next_page), class: "btn-md btn-info floatr", style: "margin: 2px;" %>
		<% end %>
			<% if @page > 0 %>

			<%= link_to 'Poprzedni', practice_list_practices_path(:page => @prev_page), class: "btn-md btn-info floatr", style: "margin: 2px;" %>
			<% end %>
			
		</div>
	</div>
	<div class="row pb-5">

	    <% @practices.each do |practice| %>
	       <div class="col-md-12 col-lg-6 col-xl-4">
	        <div class="card"> 
	          <div class="card-topper">
		          <% if practice.image.present? %>
		          	<%= link_to practice_path(practice) do %>
		          		<%= image_tag practice.image.url, style: "width:100%; height:400px;object-fit:cover;" %>
		          	<% end %>
		          <% else %>
		          	No image
		          <% end %>
	          </div>
			  <div class="card-block text-center">
			       <h4 class="card-title text-center text-capitalize">
			          <%= practice.title %>
			       </h4>
                        <% if current_user && current_user&.admin? %>

                          <%= link_to 'Pokaż', practice, class: 'btn btn-md btn-primary' %>
                          <%= link_to 'Edytuj', edit_practice_path(practice), class: 'btn btn-md btn-info' %>
                          <%= link_to 'Usuń', practice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-md btn-danger' %>

                            <% else %>

                              <%= link_to 'Pokaż', practice, class: 'btn btn-md btn-primary' %>

                            <% end %>
			  </div>
	      </div>
    </div>
    <% end %>
</div>
</section>