<section class="container pt-5 pb-5 text-center">
	<div class="row pt-5 pb-5">
		<div class="col-12 mb-1">

				<table class="table table-hover table-striped table-responsive", style="border-bottom: 1px solid #ddd;">
					<thead>

					</thead>

					<tbody>
						<% c = 0 %>
						<% @practices.each do |practice| %>
					<tr>
						<td>
							<% if practice.image.present? %>
          					<%= image_tag practice.image.url, style: "width:100%;height:300px;object-fit:cover;" %>
          					<% else %>
          						No image
          					<% end %>	
          				</td>

						<td>
							<%= practice.title %>
						</td>
<!-- 						<td>
							<%= truncate(practice.boxinfo, length: 50) %>
						</td> -->
						<td> <%= link_to 'Czytaj więcej', practice %>
						</td>
					</tr>
							<% c = c + 1 %>
							<% end %>
							<h3><span class="badges badges-info">Wykryto <%= c %> odpowiedzi</span></h3>
					</tbody>

				</table>

		</div>
	</div>
</section>