<section class="container-fluid pt-5 pb-5">
  <div class="row pt-5">
      <div class="col-12">

        <p id="notice"><%= notice %></p>

        <p>
          <strong>Tytuł:</strong>
          <%= @practice.title %>
        </p>

        <p>
          <strong>Kategoria:</strong>
          <%= @practice.subtitle %>
        </p>

      </div>
  </div>

   <p>
    <% if @practice.image.present? %>
      <%= image_tag @practice.image.url, class: "responsive_img" %>
    <% else %>
    No image
    <% end %>
  </p>

  <p>
    <% if @practice.image_second.present? %>
      <%= image_tag @practice.image_second.url, class: "responsive_img" %>
    <% end %>
  </p>

  <p>
    <% if @practice.image_third.present? %>
      <%= image_tag @practice.image_third.url, class: "responsive_img" %>
    <% end %>
  </p>

  <p>
    <strong>Dodał:</strong>
    <%= @practice.boxtitle %>
  </p>

  <p>
    <strong>Treść:</strong>
    <h3><%=raw @practice.boxinfo %></h3>
  </p>

  <div class="pb-5">
      <%= link_to 'Powrót', practice_list_practices_path, class: 'btn btn-lg btn-success' %>

    <% if current_user && current_user.admin? %>

      <%= link_to 'Edytuj', edit_practice_path(@practice), class: 'btn btn-lg btn-primary' %> 

    <% end %>
  </div>

</section>
