 
<%= form_with(model: player, local: true, html: {multipart: true}) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-12">

  <div class="field">
    <%= form.label :Imię %><br>
    <%= form.text_field :name, style:"width:100%" %>
  </div>

  <div class="field">
    <%= form.label :Opis %><br>
    <%= form.text_field :description, style:"width:100%" %>
  </div>

  <div class="field">
    <%= form.label :Osiągnięcia %><br>
    <%= form.text_area :achievement, style:"width:100%" %>
  </div>

  </div>
</div>

<div class="row", style="margin-top:1rem;">

      <div class="col-md-4">
        <div class="card"> 
          <div class="card-topper">
            <div class="field">
              <%= form.label :Zdjęcie, style:"color:#eeeeee;" %>
              <%= form.file_field :image, style:"color:#eeeeee;"  %>
            </div>
          </div>
          <div class="card-block">
<!--              <div>
                <%= form.hidden_field :user_id, value: session[:user_id] %>
            </div> -->

          </div>
        </div>
      </div>
</div>
  <div class="row", style="margin-top:1rem; padding-bottom: 0.5rem">
    <div class="col-md-12">
      <%= form.submit 'Utwórz', class: "btn btn-warning" %>
      <%= link_to 'Powrót', players_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>