<section class="container-fluid pt-5 pb-5">
  <div class="row pt-5">
      <div class="col-12">

          <p id="notice"><%= notice %></p>

        <p>
          <% if @player.image.present? %>
            <%= image_tag @player.image.url, class: "responsive_img2"%>
          <% else %>
            No image
          <% end %> 
        </p>  
        <p>
          <strong>Imię:</strong>
            <%= @player.name %>
        </p>
        <p>
          <strong>Opis:</strong>
            <%=raw @player.description %>
        </p>
        <p>
          <strong>Osiągnięcia:</strong>
            <%=raw @player.achievement %>
        </p>
    
         <div class="pb-5">

            <%= link_to 'Powrót', players_path, class: 'btn btn-lg btn-info' %>

                <% if current_user && current_user.admin? %>

            <%= link_to 'Edytuj', edit_player_path(@player), class: 'btn btn-lg btn-primary' %> 

                <% end %>

          </div>
        
    </div>
</div>