<div class="row mx-1 pt-5">
  <div class="col"> </div>
    <div class="col-10 pt-5">

        <p>
          <% if @player.image.present? %>
            <%= image_tag @player.image.url %>
          <% else %>
            No image
          <% end %> 
        </p>  
        <p>
          <strong>Imię:</strong>
            <%= @player.name %>
        </p>
        <p>
          <strong>Opis:</strong>
            <%= @player.description %>
        </p>
        <p>
          <strong>Osiągnięcia:</strong>
            <%= @player.achievement %>
        </p>
    
          <%= link_to 'Powrót', players_path, class: 'btn btn-md btn-info' %>
        
    </div>
  <div class="col"> </div>
</div>