<!DOCTYPE html>
<html>
  <head>
    <title>Cross Sport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>

    <%= render 'shared/navigation' %>

      <% if notice %>

        <div class="notice">
            <%= notice %>
        </div>

      <% end %>

      <% if alert %>

          <div class="alert">
            <%= alert %>
          </div>

      <% end %>

    <%= yield %>

    <div class="padding_footer">
    
      <%= render 'shared/footer' %>
    
    </div>

  </body>
</html>
